@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ABeeZee;
    src: url('/ABeeZee/ABeeZee-Regular.ttf');
}
@font-face {
    font-family: Lalezar;
    src: url('/Lalezar/Lalezar-Regular.ttf');
}
*{
    font-family: ABeeZee;
}
.font-lalezar{
    font-family: Lalezar;
}